<DOCTYPE html>
<html>
	<head>
		<title>Dare To Be Kind</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<link rel="stylesheet" href="/static/css/main.css">

		<header>
			<div style="margin-top: 50px; margin-left:1230px">{{LogIn}}</div>
			<div id='type'> Dare </div>  

			<ul>
  				<li><a href="/">Home </a></li>
  				<li><a href="/mydare">My Dares  </a></li>
  				<li><a href="/memories">Memories </a></li>
  				<li style="float:right"><a class="active" href="/about">About</a></li>
			</ul>
		</header>
	</head>
	<body>	
		<br>
	<p>
		Cupcake ipsum dolor sit amet donut. Bear claw lollipop cheesecake bonbon brownie. Gummies dragée muffin croissant cookie I love caramels bear claw jujubes. Jelly pastry cake brownie. Sweet gummi bears carrot cake biscuit jujubes powder. Chocolate bar caramels chocolate bar liquorice chupa chups. Caramels gummi bears chupa chups donut lemon drops.
		Brownie icing candy canes donut tiramisu. Sweet croissant pie liquorice lemon drops. Danish muffin tiramisu chocolate pastry dragée halvah. Liquorice jelly bonbon icing pastry cake. I love danish marzipan candy canes bear claw tart. Bonbon candy dessert jelly tiramisu. I love pie fruitcake gummi bears. I love I love lemon drops. Cotton candy jelly beans I love ice cream powder.
		Tiramisu muffin cake I love pastry powder cake muffin. Sugar plum liquorice apple pie toffee carrot cake muffin croissant pastry jelly-o. Tart cookie halvah tart. I love jujubes liquorice bear claw cake cheesecake bear claw croissant. Jelly pie danish. Brownie chocolate sweet sugar plum pudding ice cream jelly wafer. Cheesecake tart jelly-o muffin apple pie marzipan. Croissant gummi bears oat cake. Ice cream chocolate cake chocolate cake cupcake I love cookie chupa chups. Candy canes danish jujubes chocolate.
		Icing cheesecake jelly liquorice jelly-o dessert candy oat cake jelly beans. Gummies lemon drops topping marzipan chupa chups. Biscuit carrot cake bear claw cake wafer. Pastry carrot cake cotton candy I love. Lollipop I love carrot cake. Lollipop pudding cake ice cream sesame snaps jujubes I love. Wafer muffin brownie icing I love. Chupa chups I love croissant I love jelly wafer pastry cake.
		Powder croissant bonbon pie gingerbread. Jujubes dessert lemon drops. Ice cream cake bear claw. Bonbon macaroon lollipop pie pie cake candy. Brownie toffee candy I love tootsie roll topping sweet roll chocolate bar. Ice cream pie brownie chocolate bar cheesecake liquorice. I love jelly dragée toffee powder cake macaroon chocolate cake sweet roll. Sesame snaps toffee sweet roll pudding I love croissant oat cake cake bear claw.
	</p>	
	</body>
		<br><br><br><br><br><br><br><br><br><br><br><br>
	<footer>
		<div id='foot'> 
			<hr>
			copyright || back to top  
		</div>

</html>