<DOCTYPE html>
<html>
	<head>
		
		<title>Dare To Be Kind</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<link rel="stylesheet" href="/static/css/main.css">
	</head>

	<header>  <!-- the header/ title bar-->
		<div id='header'> 
		<div style="margin-top: 50px; margin-right:30px">{{LogIn}}</div>
		<div id='type'> Dare </div> 
		</div> 
	</header>

	<nav> <!--navigaition bar for hyperlinks -->
		<div class="nav">
		<div class="home">Home</div>
		<div class="home">About Us</div>
		<div class="home">Memories</div>
		</div>
	</nav>

	<body>
		<form>

		<div style="text-align:center; margin-top:167px"><button id='kind' type="button"> Click Me For a Dare! </button></div>

		Enter a dare: <input type="text" name="dare"></input>
		<input type="submit" value="Submit"></input>

		</form>
		
	<body>	

		<footer>
			<div id='footer'> 
				The bottomline 
			</div>
</html>